<aside class="filters">
  <form id="filtersForm" method="GET" action="/anime" class="filters__form">
    <div class="filtersContainer">
      <section class="filters__section">
        <div class="filters__title">Search</div>
        <input type="text" name="search" value="{{filters.search}}" placeholder="Cowboy Bebop" class="filters__input" />
      </section>

      <section class="filters__section">
        <div class="filters__title">Order by</div>
        <select name="sort" class="filters__select">
          {{#each filters.sortOptions}}
          <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>
            {{this.label}}
          </option>
          {{/each}}
        </select>
      </section>

      <section class="filters__section">
        <div class="filters__title">Format</div>
        <select name="type" class="filters__select">
          {{#each filters.typeOptions}}
          <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>
            {{this.label}}
          </option>
          {{/each}}
        </select>
      </section>

      <section class="filters__section">
        <div class="filters__title">Rating</div>
        <select name="rating" class="filters__select">
          {{#each filters.ratingOptions}}
          <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>
            {{this.label}}
          </option>
          {{/each}}
        </select>
      </section>

      <section class="filters__section">
        <div class="filters__title">Genre</div>
        <select name="genres" class="filters__select">
          {{#each filters.genreOptions}}
          <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>
            {{this.label}}
          </option>
          {{/each}}
        </select>
      </section>
    </div>

    {{!-- Azioni --}}
    <section class="filters__actions">
      <button type="submit" class="filters__btn filters__btn--apply">Apply</button>
      <a href="/anime" class="filters__btn filters__btn--reset">Reset</a>
    </section>
  </form>
</aside>
