{{#each items}}
<div class="cardsContainer">
  <div class="card">
    <a href="/characters/{{this.character_mal_id}}">
      {{#if (isHttpUrl this.image)}}
      <img src="{{this.image}}" alt="{{this.name}}">
      {{else}}
      <div class="card-image-placeholder">
        <img src="/images/logo.png" alt="Logo">
      </div>
      {{/if}}
      <div class="card-body">
        <p>{{this.name}}</p>
      </div>
    </a>
  </div>
</div>
{{/each}}
