<div class="container mt-5">
	<h1>Staff List</h1>
	
	{{#if staff.length}}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Position</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each staff}}
					<tr>
						<td>{{this.name}}</td>
						<td>{{this.position}}</td>
						<td>{{this.email}}</td>
						<td>
							<a href="/staff/{{this.id}}/edit" class="btn btn-sm btn-primary">Edit</a>
							<a href="/staff/{{this.id}}/delete" class="btn btn-sm btn-danger">Delete</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}
		<p>No staff members found.</p>
	{{/if}}
	
	<a href="/staff/new" class="btn btn-success mt-3">Add New Staff</a>
</div>