<div class="container mt-5">
	<h1>General Tests - MongoDB Data</h1>

	{{#if favsError}}
		<div class="alert alert-warning">
			<strong>Favourites:</strong> Unable to load data
		</div>
	{{else}}
		<div class="card mb-4">
			<div class="card-header">
				<h5>Favourites</h5>
			</div>
			<div class="card-body">
				{{#if favs}}
					<pre><code>{{json favs}}</code></pre>
				{{else}}
					<p>No favourites data available</p>
				{{/if}}
			</div>
		</div>
	{{/if}}

	{{#if ratingsError}}
		<div class="alert alert-warning">
			<strong>Ratings:</strong> Unable to load data
		</div>
	{{else}}
		<div class="card mb-4">
			<div class="card-header">
				<h5>Ratings</h5>
			</div>
			<div class="card-body">
				{{#if ratings}}
					<pre><code>{{json ratings}}</code></pre>
				{{else}}
					<p>No ratings data available</p>
				{{/if}}
			</div>
		</div>
	{{/if}}

	{{#if statsError}}
		<div class="alert alert-warning">
			<strong>Stats:</strong> Unable to load data
		</div>
	{{else}}
		<div class="card mb-4">
			<div class="card-header">
				<h5>Stats</h5>
			</div>
			<div class="card-body">
				{{#if stats}}
					<pre><code>{{json stats}}</code></pre>
				{{else}}
					<p>No stats data available</p>
				{{/if}}
			</div>
		</div>
	{{/if}}
</div>