{{#each items}}
<div class="cardsContainer">
  <div class="card">
    {{#if this.mal_id}}
    <a href="/anime/{{this.mal_id}}">
    {{else}}
    <a href="/anime/{{this.anime_id}}">
    {{/if}}
      {{#if (isHttpUrl this.image_url)}}
      <img src="{{this.image_url}}" alt="{{this.title}}">
      {{else}}
      <div class="card-image-placeholder">
        <img src="/images/logo.png" alt="Logo">
      </div>
      {{/if}}
      <div class="card-body">
        <p>{{this.title}}</p>
      </div>
    </a>
  </div>
</div>
{{/each}}
